:root {
   --primary: white;
   --secondary: black;
   /*--on-primary: #fafafa;
   --on-secondary: #000504;*/
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: var(--primary);
   color: var(--secondary);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 2em;
   display: flex;
   width: auto;
   flex-direction: row;
   justify-content: center;
   align-self: center;
}

header .menuItem {
   margin: auto;
}

header a {
   color: var(--secondary);
   text-decoration: none;
}

main {
   margin-top: 2em;
}

#Home {
   margin-left: 1em;
}

#Home h2, #Home h3{
   margin-top: 0.5em;
}

ul{
   margin-left: 1.2em;
   list-style-type: square;
}

ol{
   margin-left: 1.2em;
   list-style-type: decimal;
}

img {
   height: 500px;
}

#agendaContainer {
   display: flex;
}

#agendaLegende {
   display: flex;
   flex-direction: column;
}

.agendaLegende {
   display: flex;
}

.kleurvakje {
   width: 2em;
   height: 2em;
   padding: 0, 3em;
}

.groen {
   background-color: green;
}

.oranje {
   background-color: orange;
}

.paars {
   background-color: purple;
}

.overzicht {
   display: flex;
}

.overzicht img {
   height: 300px;
}

.overzicht .resultaat {
   text-align: center;
}

footer {
   text-align: center;
}

/*Clubkamptabel*/
.table{
   margin-top: 10px;
}

.header{
   color: white;
   background-color: black;
}

.header .element{
   color: white;
   background-color: black;
}

.row {
   display: flex;
   justify-content: space-between;
}

.line {
   border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.naam {
   width: 30%;
}

.point {
   width: 1.5em;
   text-align: center;
}

.point img {
   width: 1.2em;
}

.line .point:nth-child(even) {
   background-color: lightgray;
}

.result {
   width: 15%;
}

.tableVolgende{
   display: flex;
   justify-content: center;
   align-items: center;
}

.tableVolgende .table{
   width: 70%;
   border: 1px solid black;
   margin: 5px;
}

.tableVolgende .speeldag{
   width: 30%;  
   border: none;
   margin: 5px;
   padding: 5px;
}

.speeldagen {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.speeldag {
   width: 50%;
   border: 1px solid black;
   margin: 5px;
   padding: 5px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}

.meerMinderKnop {
   display: block;
   text-align: center;
   color: blue;
}

/*.element {
   color: hotpink;
}*/

/*Interclub*/
.ICres{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

/*Masters*/
#Masters .icon{
   height: 50px;
}

/*Contact*/
#Contact{
   margin-left: 1em;
}

#Contact h3{
   margin-top: 0.5em;
}

#Contact img{
   width: 300px;
   height: auto;
}

#Contact .icon{
   width: 50px;
}

/*Nuttige links*/
#Nuttige{
   margin-left: 1em;
}

.linkje{
   margin: 1em;
}

.linkje a{
   text-decoration: none;
   font-size:x-large;
}

@media (max-width: 1000px) {
   /*Clubkamptabel*/
   .tableVolgende{
      display: flex;
      flex-direction: column;
   }
   
   .tableVolgende .table{
      width: 100%;
   }

   .tableVolgende .speeldag{
      width: 100%;
   }

   .speeldag{
      width: 100%;
      margin: 5px 33%;
      padding: 5px 10px;
   }

   .volgende{
      color:hotpink;
   }
}

@media (max-width: 500px) {
   /*.menuItem {
      display: none;
   }*/

   .hamburger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  
  .bar {
      width: 30px;
      height: 3px;
      background-color: var(--secondary);
      margin: 6px 0;
  }

   /*Clubkamptabel*/
   .speeldag{
      width: 100%;
      margin: 5px;
      padding: 5px;
   }
}