* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    /*display: grid;*/
    color: hotpink;

}

.flex{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

#divinput{
    width: fit-content;
    padding: 15px;
}

#testspan{
    color: hotpink;
}

#inputvakje{
    width: 150px;
}
