* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    /*display: grid;*/
    color: hotpink;

}

.flex{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

#test1{
    width: max-content;
    height: 50px;
    background-color: hotpink;
}

#divinput{
    width: fit-content;
    padding: 15px;
}

#testspan{
    color: hotpink;
}

#inputvakje{
    width: 150px;
}

/*Resultatentabel*/
.header {
    color: white;
    background-color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naam {
    width: 30%;
}

.point {
    width: 1.2em;
    text-align: center;
}

.result {
    width: 15%;
}

.subresult {
    display: flex;
    justify-content: space-between;
}

.subplayer {
    width: 45%;
}

.white, .black{
    border: 1px solid black;
}

.white {
    background-color: white;
    color: white;
}

.black {
    background-color: black;
    color: black;

}
/*.element {
    color: hotpink;
}*/

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}